:root {
    --yellow-green-crayola: #d9ed92ff;
    --yellow-green-crayola-2: #b5e48cff;
    --granny-smith-apple: #99d98cff;
    --ocean-green: #76c893ff;
    --keppel: #52b69aff;
    --viridian-green: #34a0a4ff;
    --blue-munsell: #168aadff;
    --cg-blue: #1a759fff;
    --lapis-lazuli: #1e6091ff;
    --yale-blue: #184e77ff;

    --background-color: var(--cg-blue);

    --node-background-color: var(--ocean-green);
    --node-outline-color: var(--mint-cream);
    --node-selected-color: var(--yellow-green-crayola);
    --node-text-color: var(--yale-blue);

    --edge-color: var(--ocean-green);
    --edge-text-color: var(--ocean-green);

    --control-background: var(--yale-blue);
    --control-background-hover: var(--blue-munsell);
    --control-color: var(--yellow-green-crayola);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    background-color: var(--background-color);
    color: var(--grid-color);
    font-size: 12px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    position: relative;
    height: 100%;
}

#nodes, #edges {
    position: relative;
}

.node {
    background-color: var(--node-background-color);
    color: var(--node-text-color);
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    user-select: none;
    min-width: 75px;
    max-width: 150px;
    text-align: center;
}

.node.selected {
    background-color: var(--node-selected-color);
}

.node .add-button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.node .remove-button {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.node .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    background-color: var(--node-selected-color);
    color: var(--node-text-color);
    border-radius: 50%;
    visibility: hidden;
}

.node.selected .button {
    visibility: visible;
}

.node .value {
    outline: none;
}

.edge {
    background-color: var(--background-color);
    color: var(--edge-text-color);
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    min-width: 75px;
    max-width: 150px;
    text-align: center;
}

.edge:empty {
    visibility: hidden;
}

.canvas path {
    fill: none;
    stroke: var(--edge-color);
}

.icon {
    stroke-width: 1;
    height: 12px;
    width: 12px;
    cursor: pointer;
}
