:root {
    --ash-gray: #cad2c5ff;
    --cambridge-blue: #84a98cff;
    --hookers-green: #52796fff;
    --dark-slate-gray: #354f52ff;
    --charcoal: #2f3e46ff;

    --background-color: var(--ash-gray);

    --node-background-color: var(--dark-slate-gray);
    --node-outline-color: var(--mint-cream);
    --node-selected-color: var(--hookers-green);
    --node-text-color: var(--ash-gray);

    --edge-color: var(--dark-slate-gray);
    --edge-text-color: var(--dark-slate-gray);

    --button-background-color: var(--cambridge-blue);
    --button-icon-color: var(--charcoal);

    --toolbar-background-color: var(--dark-slate-gray);
    --toolbar-button-background-color: var(--dark-slate-gray);
    --toolbar-button-icon-color: var(--ash-gray);
    --toolbar-button-disabled-color: var(--cambridge-blue);

    --dialog-background-color: var(--cambridge-blue);
    --dialog-text-color: var(--charcoal);
    --dialog-border-color: var(--charcoal);

    --dialog-button-background-color: var(--cambridge-blue);
    --dialog-button-highlight-color: var(--ash-gray);
    --dialog-button-text-color: var(--charcoal);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    background-color: var(--background-color);
    color: var(--grid-color);
    font-size: 16px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    position: relative;
    height: 100%;
}

#viewport {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

#nodes, #edges {
    position: relative;
}

.node {
    background-color: var(--node-background-color);
    color: var(--node-text-color);
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    user-select: none;
    min-width: 75px;
    max-width: 150px;
    text-align: center;
    font-size: 1.2rem;
}

.node.selected, .node:hover {
    background-color: var(--node-selected-color);
}

.node .add-button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.node .remove-button {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.node .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    background-color: var(--button-background-color);
    color: var(--button-icon-color);
    border-radius: 50%;
    visibility: hidden;
}

.node.selected .button {
    visibility: visible;
}

.node .value {
    outline: none;
}

.edge {
    background-color: var(--background-color);
    color: var(--edge-text-color);
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    min-width: 75px;
    max-width: 150px;
    text-align: center;
}

.edge.empty:not(.selected) {
    visibility: hidden;
    pointer-events: none;
}

.edge .remove-button {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.edge .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    background-color: var(--button-background-color);
    color: var(--button-icon-color);
    border-radius: 50%;
    visibility: hidden;
}

.edge.selected .button {
    visibility: visible;
}

.edge .value {
    outline: none;
}

#paths path {
    fill: none;
    stroke: var(--edge-color);
    stroke-width: 1;
}

#paths path.bg {
    fill: none;
    stroke: var(--background-color);
    stroke-width: 10;
}

.icon {
    stroke-width: 1;
    height: 12px;
    width: 12px;
    cursor: pointer;
}

#toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--toolbar-background-color);
    height: 32px;
    border-radius: 12px;
    padding: 0px 10px;
    gap: 10px;
}

#toolbar .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--toolbar-button-background-color);
    color: var(--toolbar-button-icon-color);
    border-radius: 50%;
}

#toolbar .icon {
    height: 24px;
    width: 24px;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#toolbar .button.processing {
    animation-duration: 2s;
    animation-name: rotating;
    animation-iteration-count: infinite;

    color: var(--toolbar-button-disabled-color);
}

dialog {
    background-color: var(--dialog-background-color);
    color: var(--dialog-text-color);
    padding: 0;
    border: solid 1px var(--dialog-border-color);
    min-width: 200px;
}

dialog h1 {
    background-color: var(--dialog-border-color);
    color: var(--dialog-background-color);
    font-size: 1.5rem;
    margin: 0;
    padding: 10px;
}

dialog div {
    padding: 10px;
}

dialog .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

dialog button {
    background-color: var(--dialog-button-background-color);
    border: solid 1px var(--dialog-button-text-color);
    color: var(--dialog-button-text-color);
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
}

dialog button:hover {
    background-color: var(--dialog-button-highlight-color);
}
